.md-icon {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.collapsible-indicator {
    font-size: 30px;
    line-height:30px;
}


.collapsible-section {
    padding: 0 20px 20px 20px;
}

.collapsed .collapsible-section {
    display: none;
}