<div class="container-fluid">
  
 <div class="container-fluid col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">

    <table id="myTable" class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>-</th>
          <th>-</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>UserID</th>
          <th>EmailAddress</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of users">
          <td>
            <button type="button" name="button" class="btn btn-sm btn-info" (click)="editUser(row.ID)">Edit</button>
          </td>  
          <td>
            <button type="button" name="button" class="btn btn-sm btn-danger" (click)="deleteUser(row.ID)">Delete</button>
          </td>
          <td>{{row.FirstNameUser}}</td>  
          <td>{{row.LastNameUser}}</td>  
          <td>{{row.UserID}}</td>  
          <td>{{row.EmailAddress}}</td>  
        </tr>
      </tbody>
    </table>          



 </div>

</div>  

<div class="rTable">
  <div class="rTableRow">
  <div class="rTableHead"><strong>Name</strong></div>
  <div class="rTableHead"><span style="font-weight: bold;">Telephone</span></div>
  <div class="rTableHead">&nbsp;</div>
  </div>
  <div class="rTableRow">
  <div class="rTableCell">John</div>
  <div class="rTableCell"><a href="tel:0123456785">0123 456 785</a></div>
  <div class="rTableCell"><img src="images/check.gif" alt="checked" /></div>
  </div>
  <div class="rTableRow">
  <div class="rTableCell">Cassie</div>
  <div class="rTableCell"><a href="tel:9876532432">9876 532 432</a></div>
  <div class="rTableCell"><img src="images/check.gif" alt="checked" /></div>
  </div>
  </div>
